/* Shubham Prakash
 * Kolkata (India)
 * Facebook= ( https://www.facebook.com/shubham.onl9 )
 */

* {
   margin-top:0px; //excludes extra spaces from the top
}

body {  
        color:white;
        background-color:#000;
        font-family: 'Open Sans', sans-serif;//google WebFont
      }

.top {
  position:fixed;
  background-color:#010;
  width:100%;
}

h1 {
  font-size:3em;
  text-align:center;
  color:#F85252;
  padding-top:15px;
  padding-bottom:0px;
  margin-bottom:0px;
}
h2,h3 {
  color:#FE5481;
}

#badge {
  display:block;
  width:45%;
  margin-left: auto;
  margin-right: auto;
  }

p {
  font-size:20px;
}

.outpage {
  padding-top:150px; //to avoid overlapping of top onto it.
}

.inpage {
  padding-left:20px;
  padding-right:20px;
}

ul.questions {
  color:#F4B400;
}
